# Period bound example

This notebooks shows how the `PeriodBoundTransformer` can be used to calculate a period bound aggregation (see the `rolling_window` module for the aggregations available) for a given container key and set of periods.

## Import packages

In [1]:
from time_related_features.rolling_window import AverageChargebacks
from time_related_features.transformers import PeriodBoundTransformer

import numpy as np
import pandas as pd
import random

## Read in data

In [4]:
X = pd.read_pickle('X.pkl')

In [5]:
X.head()

                 timestamp             email   ip     amount  chargeback
txn_id
0      2022-01-10 16:58:07  email1@gmail.com  ip2  37.840337       False
1      2022-01-10 18:24:04  email2@gmail.com  ip2  60.093369       False
2      2022-01-10 19:44:34  email1@gmail.com  ip2  46.916985       False
3      2022-01-10 21:04:34  email2@gmail.com  ip2  72.531623       False
4      2022-01-10 22:48:31  email2@gmail.com  ip1   9.765965       False

## Set up aggregation class

This class will calculate the aggregation specified for a unique container key value (e.g. for an unique email address) and period. See the `rolling_window` module for the aggregations available:

In [6]:
agg_class = AverageChargebacks(cb_col='chargeback')

## Set up transformer class

This class will calculate the aggregation specified (see `agg_class` above) for each unique container key value (e.g. for each unique email address) and each period:

In [7]:
t = PeriodBoundTransformer(
    agg_class=agg_class,   
    period_type='day',
    periods=[1, 7, 30],
    container_key='email',
    timestamp_col='timestamp'
)

## Calculate the aggregation

We can now calculate the aggregation using the `transform` method:

In [9]:
X = t.transform(X=X)

In [10]:
X.head()

,timestamp,email,ip,amount,chargeback,email.avg_chargeback_txn_per_email_1day,email.avg_chargeback_txn_per_email_7day,email.avg_chargeback_txn_per_email_30day
txn_id,,,,,,,,
0,2022-01-10 16:58:07,email1@gmail.com,ip2,37.840337,False,0.0,0.0,0.0
1,2022-01-10 18:24:04,email2@gmail.com,ip2,60.093369,False,0.0,0.0,0.0
2,2022-01-10 19:44:34,email1@gmail.com,ip2,46.916985,False,0.0,0.0,0.0
3,2022-01-10 21:04:34,email2@gmail.com,ip2,72.531623,False,0.0,0.0,0.0
4,2022-01-10 22:48:31,email2@gmail.com,ip1,9.765965,False,0.0,0.0,0.0