# Unbound example

This notebooks shows how the `UnboundTransformer` can be used to calculate an unbound (i.e. no time constraints) aggregation (see the `exponential_window` and `tie_deltas` modules for the aggregations available) for a given container key.

## Import packages

In [1]:
from time_related_features.exponential_window import ExpWeightedAverage
from time_related_features.time_deltas import TimeSinceFirstSeen
from time_related_features.transformers import UnboundTransformer

import numpy as np
import pandas as pd
import random

## Read in data

In [2]:
X = pd.read_pickle('X.pkl')

In [3]:
X.head()

                 timestamp             email   ip     amount  chargeback
txn_id
0      2022-01-10 16:58:07  email1@gmail.com  ip2  37.840337       False
1      2022-01-10 18:24:04  email2@gmail.com  ip2  60.093369       False
2      2022-01-10 19:44:34  email1@gmail.com  ip2  46.916985       False
3      2022-01-10 21:04:34  email2@gmail.com  ip2  72.531623       False
4      2022-01-10 22:48:31  email2@gmail.com  ip1   9.765965       False

## Exponential window

### Set up aggregation class

This class will calculate the aggregation specified for a unique container key value (e.g. for an unique email address):

In [4]:
agg_class = ExpWeightedAverage(
    halflife='2d', 
    value_col='amount'
)

### Set up transformer class

This class will calculate the aggregation specified (see `agg_class` above) for each unique container key value (e.g. for each unique email address):

In [5]:
t = UnboundTransformer(
    agg_class=agg_class,    
    container_key='email',
    timestamp_col='timestamp'
)

### Calculate the aggregation

We can now calculate the aggregation using the `transform` method:

In [6]:
X = t.transform(X=X)

In [7]:
X.head()

                 timestamp  ... email.ew_avg_amount_per_email
txn_id                      ...
0      2022-01-10 16:58:07  ...                     37.840337
1      2022-01-10 18:24:04  ...                     60.093369
2      2022-01-10 19:44:34  ...                     42.469553
3      2022-01-10 21:04:34  ...                     66.432599
4      2022-01-10 22:48:31  ...                     46.983779

[5 rows x 6 columns]

## Time deltas

### Set up aggregation class

This class will calculate the aggregation specified for a unique container key value (e.g. for an unique email address):

In [8]:
agg_class = TimeSinceFirstSeen()

### Set up transformer class

This class will calculate the aggregation specified (see `agg_class` above) for each unique container key value (e.g. for each unique email address):

In [9]:
t = UnboundTransformer(
    agg_class=agg_class,    
    container_key='email',
    timestamp_col='timestamp'
)

### Calculate the aggregation

We can now calculate the aggregation using the `transform` method:

In [10]:
X = t.transform(X=X)

In [11]:
X.head()

                 timestamp  ... email.time_since_txn_first_seen_by_email
txn_id                      ...
0      2022-01-10 16:58:07  ...                          0 days 00:00:00
1      2022-01-10 18:24:04  ...                          0 days 00:00:00
2      2022-01-10 19:44:34  ...                          0 days 02:46:27
3      2022-01-10 21:04:34  ...                          0 days 02:40:30
4      2022-01-10 22:48:31  ...                          0 days 04:24:27

[5 rows x 7 columns]